<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sie.mapper.InforMangeMapper.InforMangeMapper">


    <update id="updateAdmin" parameterType="admin" >
        UPDATE admin set adm_name=#{admName},adm_password=#{admPassword} where adm_num=#{admNum};
    </update>

    <update id="updateTeacher" parameterType="teacher" >
        UPDATE teacher set tea_name=#{teaName},tea_password=#{teaPassword} where tea_num=#{teaNum};
    </update>

    <update id="updateStudent" parameterType="student" >
        UPDATE student set stu_name=#{stuName},stu_password=#{stuPassword} where stu_num=#{stuNum};
    </update>

</mapper>