<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sie.mapper.TestManageMapper.TestManageMapper">
    <insert id="addTest" parameterType="com.sie.domain.Test" >
        insert into test (test_content,test_ans1,test_ans2,test_ans3,test_ans4,rightans1,rightans2,rightans3,rightans4,test_course,test_type)
        VALUES (#{testContent},#{testAns1},#{testAns2},#{testAns3},#{testAns4},#{rightans1},#{rightans2},#{rightans3},#{rightans4},#{testCourse},#{testType})
    </insert>

    <delete id="deleteTest" parameterType="com.sie.domain.Test">
        DELETE FROM  test WHERE test_id=#{testId}
    </delete>


     <update id="updateTest" parameterType="com.sie.domain.Test">
         UPDATE test set test_content=#{testContent},test_ans1=#{testAns1},test_ans2=#{testAns2},test_ans3=#{testAns3},test_ans4=#{testAns4},rightans1=#{rightans1},rightans2=#{rightans2},rightans3=#{rightans3},rightans4=#{rightans4},test_course=#{testCourse},test_type=#{testType} WHERE test_id=#{testId}
     </update>

    <select id="findTest" parameterType="com.sie.domain.Test" resultType="com.sie.domain.Test">
         SELECT * from test where test_type=#{testType} and test_course=#{testCourse}
    </select>

    <select id="findAllTest" parameterType="com.sie.domain.Test" resultType="com.sie.domain.Test">
        SELECT * from test where test_type=#{testType}
    </select>
</mapper>