<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sie.mapper.LessonManageMapper.LessonManageMapper">

    <select id="findLessonByName" parameterType="string" resultType="lesson">
      SELECT * FROM lesson WHERE les_name=#{lesName};
    </select>


    <select id="findAllLesson"  resultType="lesson">
      SELECT * FROM lesson;
    </select>


    <update id="updateLesson" parameterType="lesson" >
        UPDATE lesson set les_name=#{lesName},les_datatime=#{lesDatatime} where les_id=#{lesId};
    </update>


    <delete id="deleteLesson" parameterType="string">
        DELETE  from lesson WHERE  les_id=#{les_id};
    </delete>

    <insert id="addLesson" parameterType="lesson">
        INSERT INTO lesson (les_name) VALUES (#{lesName});
    </insert>
</mapper>