<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>



    <typeAliases>
        <typeAlias type="com.sie.domain.Teacher" alias="teacher"/>
        <typeAlias type="com.sie.domain.Lesson" alias="lesson"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/mapper/PersonManageMapper/TeacherManageMapper.xml"/>
        <mapper resource="mybatis/mapper/TestManageMapper/TestManageMapper.xml"/>
        <mapper resource="mybatis/mapper/LoginMapper/LoginMapper.xml"/>
        <mapper resource="mybatis/mapper/ExamMapper/ExamPaperMapper.xml"/>
        <mapper resource="mybatis/mapper/LessonManage/LessonManageMapper.xml"></mapper>
    </mappers>
</configuration>