<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>



    <typeAliases>
        <typeAlias type="com.sie.domain.Teacher" alias="teacher"/>
        <typeAlias type="com.sie.domain.TeacherEx" alias="teacherEx"/>
        <typeAlias type="com.sie.domain.Student" alias="student"/>


        <typeAlias type="com.sie.domain.Lesson" alias="lesson"/>

        <typeAlias type="com.sie.domain.Admin" alias="admin"/>
        <typeAlias type="com.sie.domain.Info" alias="info"/>
        
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/mapper/PersonManageMapper/TeacherManageMapper.xml"/>
        <mapper resource="mybatis/mapper/PersonManageMapper/StudentManageMapper.xml"/>
        <mapper resource="mybatis/mapper/InfoManageMapper/InfoManageMapper.xml"/>
        <mapper resource="mybatis/mapper/TestManageMapper/TestManageMapper.xml"/>
        <mapper resource="mybatis/mapper/LoginMapper/LoginMapper.xml"/>
        <mapper resource="mybatis/mapper/ExamMapper/ExamPaperMapper.xml"/>
        <mapper resource="mybatis/mapper/LessonManage/LessonManageMapper.xml"></mapper>
        <mapper resource="mybatis/mapper/ScoreMapper/ScoreMapper.xml"/>
        <mapper resource="mybatis/mapper/ClassManageMapper/ClassManageMapper.xml"/>
    </mappers>
</configuration>