<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sie.mapper.LessonMapper">
  <resultMap id="BaseResultMap" type="com.sie.domain.Lesson">
    <id column="les_id" jdbcType="INTEGER" property="lesId" />
    <result column="les_name" jdbcType="VARCHAR" property="lesName" />
    <result column="les_datatime" jdbcType="TIMESTAMP" property="lesDatatime" />
    <result column="les_xxx1" jdbcType="VARCHAR" property="lesXxx1" />
    <result column="les_xxx2" jdbcType="VARCHAR" property="lesXxx2" />
  </resultMap>
  <sql id="Base_Column_List">
    les_id, les_name, les_datatime, les_xxx1, les_xxx2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lesson
    where les_id = #{lesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lesson
    where les_id = #{lesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sie.domain.Lesson">
    insert into lesson (les_id, les_name, les_datatime, 
      les_xxx1, les_xxx2)
    values (#{lesId,jdbcType=INTEGER}, #{lesName,jdbcType=VARCHAR}, #{lesDatatime,jdbcType=TIMESTAMP}, 
      #{lesXxx1,jdbcType=VARCHAR}, #{lesXxx2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sie.domain.Lesson">
    insert into lesson
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lesId != null">
        les_id,
      </if>
      <if test="lesName != null">
        les_name,
      </if>
      <if test="lesDatatime != null">
        les_datatime,
      </if>
      <if test="lesXxx1 != null">
        les_xxx1,
      </if>
      <if test="lesXxx2 != null">
        les_xxx2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lesId != null">
        #{lesId,jdbcType=INTEGER},
      </if>
      <if test="lesName != null">
        #{lesName,jdbcType=VARCHAR},
      </if>
      <if test="lesDatatime != null">
        #{lesDatatime,jdbcType=TIMESTAMP},
      </if>
      <if test="lesXxx1 != null">
        #{lesXxx1,jdbcType=VARCHAR},
      </if>
      <if test="lesXxx2 != null">
        #{lesXxx2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sie.domain.Lesson">
    update lesson
    <set>
      <if test="lesName != null">
        les_name = #{lesName,jdbcType=VARCHAR},
      </if>
      <if test="lesDatatime != null">
        les_datatime = #{lesDatatime,jdbcType=TIMESTAMP},
      </if>
      <if test="lesXxx1 != null">
        les_xxx1 = #{lesXxx1,jdbcType=VARCHAR},
      </if>
      <if test="lesXxx2 != null">
        les_xxx2 = #{lesXxx2,jdbcType=VARCHAR},
      </if>
    </set>
    where les_id = #{lesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sie.domain.Lesson">
    update lesson
    set les_name = #{lesName,jdbcType=VARCHAR},
      les_datatime = #{lesDatatime,jdbcType=TIMESTAMP},
      les_xxx1 = #{lesXxx1,jdbcType=VARCHAR},
      les_xxx2 = #{lesXxx2,jdbcType=VARCHAR}
    where les_id = #{lesId,jdbcType=INTEGER}
  </update>
</mapper>