<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sie.mapper.StudentAnswerMapper">
  <resultMap id="BaseResultMap" type="com.sie.domain.StudentAnswer">
    <id column="stu_ans_id" jdbcType="INTEGER" property="stuAnsId" />
    <result column="stu_id" jdbcType="INTEGER" property="stuId" />
    <result column="stu_answerone" jdbcType="VARCHAR" property="stuAnswerone" />
    <result column="stu_answertwo" jdbcType="VARCHAR" property="stuAnswertwo" />
    <result column="stu_answerthree" jdbcType="VARCHAR" property="stuAnswerthree" />
    <result column="stu_answerfour" jdbcType="VARCHAR" property="stuAnswerfour" />
    <result column="rightanswerone" jdbcType="VARCHAR" property="rightanswerone" />
    <result column="rightanswertwo" jdbcType="VARCHAR" property="rightanswertwo" />
    <result column="rightanswerthree" jdbcType="VARCHAR" property="rightanswerthree" />
    <result column="rightanswerfour" jdbcType="VARCHAR" property="rightanswerfour" />
    <result column="les_name" jdbcType="VARCHAR" property="lesName" />
    <result column="onescore" jdbcType="VARCHAR" property="onescore" />
    <result column="twoscore" jdbcType="VARCHAR" property="twoscore" />
    <result column="threescore" jdbcType="VARCHAR" property="threescore" />
    <result column="fourscore" jdbcType="VARCHAR" property="fourscore" />
    <result column="totalscore" jdbcType="VARCHAR" property="totalscore" />
    <result column="stu_ans_xxx1" jdbcType="VARCHAR" property="stuAnsXxx1" />
    <result column="stu_ans_xxx2" jdbcType="VARCHAR" property="stuAnsXxx2" />
    <result column="stu_ans_xxx3" jdbcType="VARCHAR" property="stuAnsXxx3" />
  </resultMap>
  <sql id="Base_Column_List">
    stu_ans_id, stu_id, stu_answerone, stu_answertwo, stu_answerthree, stu_answerfour, 
    rightanswerone, rightanswertwo, rightanswerthree, rightanswerfour, les_name, onescore, 
    twoscore, threescore, fourscore, totalscore, stu_ans_xxx1, stu_ans_xxx2, stu_ans_xxx3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student_answer
    where stu_ans_id = #{stuAnsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student_answer
    where stu_ans_id = #{stuAnsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sie.domain.StudentAnswer">
    insert into student_answer (stu_ans_id, stu_id, stu_answerone, 
      stu_answertwo, stu_answerthree, stu_answerfour, 
      rightanswerone, rightanswertwo, rightanswerthree, 
      rightanswerfour, les_name, onescore, 
      twoscore, threescore, fourscore, 
      totalscore, stu_ans_xxx1, stu_ans_xxx2, 
      stu_ans_xxx3)
    values (#{stuAnsId,jdbcType=INTEGER}, #{stuId,jdbcType=INTEGER}, #{stuAnswerone,jdbcType=VARCHAR}, 
      #{stuAnswertwo,jdbcType=VARCHAR}, #{stuAnswerthree,jdbcType=VARCHAR}, #{stuAnswerfour,jdbcType=VARCHAR}, 
      #{rightanswerone,jdbcType=VARCHAR}, #{rightanswertwo,jdbcType=VARCHAR}, #{rightanswerthree,jdbcType=VARCHAR}, 
      #{rightanswerfour,jdbcType=VARCHAR}, #{lesName,jdbcType=VARCHAR}, #{onescore,jdbcType=VARCHAR}, 
      #{twoscore,jdbcType=VARCHAR}, #{threescore,jdbcType=VARCHAR}, #{fourscore,jdbcType=VARCHAR}, 
      #{totalscore,jdbcType=VARCHAR}, #{stuAnsXxx1,jdbcType=VARCHAR}, #{stuAnsXxx2,jdbcType=VARCHAR}, 
      #{stuAnsXxx3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sie.domain.StudentAnswer">
    insert into student_answer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuAnsId != null">
        stu_ans_id,
      </if>
      <if test="stuId != null">
        stu_id,
      </if>
      <if test="stuAnswerone != null">
        stu_answerone,
      </if>
      <if test="stuAnswertwo != null">
        stu_answertwo,
      </if>
      <if test="stuAnswerthree != null">
        stu_answerthree,
      </if>
      <if test="stuAnswerfour != null">
        stu_answerfour,
      </if>
      <if test="rightanswerone != null">
        rightanswerone,
      </if>
      <if test="rightanswertwo != null">
        rightanswertwo,
      </if>
      <if test="rightanswerthree != null">
        rightanswerthree,
      </if>
      <if test="rightanswerfour != null">
        rightanswerfour,
      </if>
      <if test="lesName != null">
        les_name,
      </if>
      <if test="onescore != null">
        onescore,
      </if>
      <if test="twoscore != null">
        twoscore,
      </if>
      <if test="threescore != null">
        threescore,
      </if>
      <if test="fourscore != null">
        fourscore,
      </if>
      <if test="totalscore != null">
        totalscore,
      </if>
      <if test="stuAnsXxx1 != null">
        stu_ans_xxx1,
      </if>
      <if test="stuAnsXxx2 != null">
        stu_ans_xxx2,
      </if>
      <if test="stuAnsXxx3 != null">
        stu_ans_xxx3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuAnsId != null">
        #{stuAnsId,jdbcType=INTEGER},
      </if>
      <if test="stuId != null">
        #{stuId,jdbcType=INTEGER},
      </if>
      <if test="stuAnswerone != null">
        #{stuAnswerone,jdbcType=VARCHAR},
      </if>
      <if test="stuAnswertwo != null">
        #{stuAnswertwo,jdbcType=VARCHAR},
      </if>
      <if test="stuAnswerthree != null">
        #{stuAnswerthree,jdbcType=VARCHAR},
      </if>
      <if test="stuAnswerfour != null">
        #{stuAnswerfour,jdbcType=VARCHAR},
      </if>
      <if test="rightanswerone != null">
        #{rightanswerone,jdbcType=VARCHAR},
      </if>
      <if test="rightanswertwo != null">
        #{rightanswertwo,jdbcType=VARCHAR},
      </if>
      <if test="rightanswerthree != null">
        #{rightanswerthree,jdbcType=VARCHAR},
      </if>
      <if test="rightanswerfour != null">
        #{rightanswerfour,jdbcType=VARCHAR},
      </if>
      <if test="lesName != null">
        #{lesName,jdbcType=VARCHAR},
      </if>
      <if test="onescore != null">
        #{onescore,jdbcType=VARCHAR},
      </if>
      <if test="twoscore != null">
        #{twoscore,jdbcType=VARCHAR},
      </if>
      <if test="threescore != null">
        #{threescore,jdbcType=VARCHAR},
      </if>
      <if test="fourscore != null">
        #{fourscore,jdbcType=VARCHAR},
      </if>
      <if test="totalscore != null">
        #{totalscore,jdbcType=VARCHAR},
      </if>
      <if test="stuAnsXxx1 != null">
        #{stuAnsXxx1,jdbcType=VARCHAR},
      </if>
      <if test="stuAnsXxx2 != null">
        #{stuAnsXxx2,jdbcType=VARCHAR},
      </if>
      <if test="stuAnsXxx3 != null">
        #{stuAnsXxx3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sie.domain.StudentAnswer">
    update student_answer
    <set>
      <if test="stuId != null">
        stu_id = #{stuId,jdbcType=INTEGER},
      </if>
      <if test="stuAnswerone != null">
        stu_answerone = #{stuAnswerone,jdbcType=VARCHAR},
      </if>
      <if test="stuAnswertwo != null">
        stu_answertwo = #{stuAnswertwo,jdbcType=VARCHAR},
      </if>
      <if test="stuAnswerthree != null">
        stu_answerthree = #{stuAnswerthree,jdbcType=VARCHAR},
      </if>
      <if test="stuAnswerfour != null">
        stu_answerfour = #{stuAnswerfour,jdbcType=VARCHAR},
      </if>
      <if test="rightanswerone != null">
        rightanswerone = #{rightanswerone,jdbcType=VARCHAR},
      </if>
      <if test="rightanswertwo != null">
        rightanswertwo = #{rightanswertwo,jdbcType=VARCHAR},
      </if>
      <if test="rightanswerthree != null">
        rightanswerthree = #{rightanswerthree,jdbcType=VARCHAR},
      </if>
      <if test="rightanswerfour != null">
        rightanswerfour = #{rightanswerfour,jdbcType=VARCHAR},
      </if>
      <if test="lesName != null">
        les_name = #{lesName,jdbcType=VARCHAR},
      </if>
      <if test="onescore != null">
        onescore = #{onescore,jdbcType=VARCHAR},
      </if>
      <if test="twoscore != null">
        twoscore = #{twoscore,jdbcType=VARCHAR},
      </if>
      <if test="threescore != null">
        threescore = #{threescore,jdbcType=VARCHAR},
      </if>
      <if test="fourscore != null">
        fourscore = #{fourscore,jdbcType=VARCHAR},
      </if>
      <if test="totalscore != null">
        totalscore = #{totalscore,jdbcType=VARCHAR},
      </if>
      <if test="stuAnsXxx1 != null">
        stu_ans_xxx1 = #{stuAnsXxx1,jdbcType=VARCHAR},
      </if>
      <if test="stuAnsXxx2 != null">
        stu_ans_xxx2 = #{stuAnsXxx2,jdbcType=VARCHAR},
      </if>
      <if test="stuAnsXxx3 != null">
        stu_ans_xxx3 = #{stuAnsXxx3,jdbcType=VARCHAR},
      </if>
    </set>
    where stu_ans_id = #{stuAnsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sie.domain.StudentAnswer">
    update student_answer
    set stu_id = #{stuId,jdbcType=INTEGER},
      stu_answerone = #{stuAnswerone,jdbcType=VARCHAR},
      stu_answertwo = #{stuAnswertwo,jdbcType=VARCHAR},
      stu_answerthree = #{stuAnswerthree,jdbcType=VARCHAR},
      stu_answerfour = #{stuAnswerfour,jdbcType=VARCHAR},
      rightanswerone = #{rightanswerone,jdbcType=VARCHAR},
      rightanswertwo = #{rightanswertwo,jdbcType=VARCHAR},
      rightanswerthree = #{rightanswerthree,jdbcType=VARCHAR},
      rightanswerfour = #{rightanswerfour,jdbcType=VARCHAR},
      les_name = #{lesName,jdbcType=VARCHAR},
      onescore = #{onescore,jdbcType=VARCHAR},
      twoscore = #{twoscore,jdbcType=VARCHAR},
      threescore = #{threescore,jdbcType=VARCHAR},
      fourscore = #{fourscore,jdbcType=VARCHAR},
      totalscore = #{totalscore,jdbcType=VARCHAR},
      stu_ans_xxx1 = #{stuAnsXxx1,jdbcType=VARCHAR},
      stu_ans_xxx2 = #{stuAnsXxx2,jdbcType=VARCHAR},
      stu_ans_xxx3 = #{stuAnsXxx3,jdbcType=VARCHAR}
    where stu_ans_id = #{stuAnsId,jdbcType=INTEGER}
  </update>
</mapper>