<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sie.mapper.PersonManageMapper.StudentManageMapper">

    <resultMap id="BaseResultMap" type="com.sie.domain.StudentEx">
        <id property="stuId" column="stu_id"/>
        <result property="stuName" column="stu_name"/>
        <result property="stuPassword" column="stu_password"/>
        <result property="stuSex" column="stu_sex"/>
        <result property="stuNum" column="stu_num"/>
        <result property="stuClass" column="stu_class"/>
        <association property="aClass" javaType="com.sie.domain.Class_">
            <id column="class_id" property="classId"/>
            <result column="class_name" property="className"/>
        </association>
    </resultMap>


    <!--添加学生-->
    <insert id="insertStudent" parameterType="student">
          INSERT INTO student (stu_name,stu_password,stu_sex,stu_num,stu_class)
              VALUES(#{stuName},#{stuPassword},#{stuSex},#{stuNum},#{stuClass});
       </insert>

    <!--根据学生的学号来删除-->
    <delete id="deleteStudentByStuNum"
        parameterType="java.lang.String">
        DELETE FROM student WHERE stu_num = #{value}
    </delete>

    <!--根据班级来查询-->
    <select id="findStudentByClass" parameterType="com.sie.domain.StudentEx" resultType="com.sie.domain.StudentEx">
        select stu_class,stu_id,stu_name,stu_num,stu_password,stu_sex,class_name from student s,class c where s.stu_class=c.class_id
        AND  stu_class=#{stuClass}
    </select>


    <!--修改学生信息-->
    <update id="updateStudentByStuNum" parameterType="student">
          UPDATE student SET stu_name=#{stuName},stu_password=#{stuPassword},stu_sex=#{stuSex},stu_class=#{stuClass}
              WHERE stu_num = #{stuNum}
    </update>

    <!--模糊查询单个学生-->
    <select id="selectStudentByStuNum" parameterType="java.lang.String" resultMap="BaseResultMap">
          SELECT stu_id,stu_name,stu_password,stu_sex,stu_num,stu_class,class_name FROM student,class WHERE stu_class=class_id AND stu_num like '%${value}%'
    </select>

    <!--查询所有学生-->
    <select id="selectAllStudent" resultMap="BaseResultMap">
          SELECT  stu_id,stu_name,stu_password,stu_sex,stu_num,stu_class,class_name FROM student ,class WHERE stu_class=class_id
    </select>

</mapper>