<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sie.mapper.PersonManageMapper.TeacherManageMapper">
    <resultMap id="personResultMap" type="com.sie.domain.TeacherEx">
        <id column="tea_id" property="teaId"/>
        <result column="tea_name" property="teaName"/>
        <result column="tea_password" property="teaPassword"/>
        <result column="tea_course" property="teaCourse"/>
        <result column="tea_num" property="teaNum"/>
        <result column="tea_class" property="teaClass"/>
        <association property="lesson" javaType="com.sie.domain.Lesson">
            <id column="les_id" property="lesId"/>
            <result column="les_name" property="lesName"/>
            <result column="les_xxx1" property="lesXxx1"/>
            <result column="les_xxx2" property="lesXxx2"/>
        </association>

        <association property="aClass" javaType="com.sie.domain.Class_">
            <id column="class_id" property="classId"/>
            <result column="class_name" property="className"/>

        </association>

    </resultMap>
    <select id="findTeacherByNum" parameterType="string" resultMap="personResultMap">
       select tea_class,tea_course,tea_id,tea_name,tea_num,tea_password,les_id,les_name,class_name from teacher t,lesson l ,class c where t.tea_course=l.les_id and t.tea_class=c.class_id
    AND tea_num like '%${value}%'
    </select>

    <select id="findAllTeacher"  resultMap="personResultMap">
     select tea_class,tea_course,tea_id,tea_name,tea_num,tea_password,les_id,les_name,class_name from teacher t,lesson l,class c where t.tea_course=l.les_id and t.tea_class=c.class_id
    </select>

    <select id="findCount"  resultType="int">
        SELECT COUNT(*) FROM teacher;
    </select>

    <update id="updateTeacher" parameterType="teacher" >
        UPDATE teacher set tea_name=#{teaName},tea_password=#{teaPassword},tea_course=#{teaCourse} where tea_num=#{teaNum};
    </update>


    <delete id="deleteTeacher" parameterType="string">
        DELETE  from teacher WHERE  tea_num=#{tea_num}
    </delete>

    <insert id="addTeacher" parameterType="teacher">
        INSERT INTO teacher (tea_name,tea_password,tea_course,tea_num,tea_class) VALUES (#{teaName},#{teaPassword},#{teaCourse},#{teaNum},#{teaClass});
    </insert>
</mapper>