<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sie.mapper.ExamMapper.ExamPaperMapper">
    <select id="findPriorExamPaper" parameterType="com.sie.domain.TestEx" resultType="com.sie.domain.TestEx">
        SELECT * from test where test_course=#{testCourse} and test_type=#{testType} and test_status=1
    </select>


    <select id="findRandomExamPaper" parameterType="com.sie.domain.TestEx" resultType="com.sie.domain.TestEx">
        SELECT * FROM test WHERE test_id >= (SELECT FLOOR( MAX(test_id) * RAND()) FROM test ) AND test_status=0 AND test_type=#{testType} and test_course=#{testCourse}
       ORDER BY test_id LIMIT #{testRandomNum};
    </select>

    <insert id="addExamResult" parameterType="com.sie.domain.StudentAnswer">
        insert into student_answer (stu_id,stu_class,totalscore,les_name) VALUES
        (#{stuId},#{stuClass},#{totalscore},#{lesName})
    </insert>

</mapper>